#### Data to collect  

| Data |
| -------- |
| Draw Number |
| Draw Date |
| Winning Number 1 |
| Winning Number 2 |
| Winning Number 3 |
| Winning Number 4 |
| Winning Number 5 |
| Winning Number 6 |
| Additional Number|
| Jackpot amount|
| G1 Share amount|
| G2 Share amount|
| G3 Share amount|
| G4 Share amount|
| G1 winning shares|
| G2 winning shares|
| G3 winning shares|
| G4 winning shares|
| G5 winning shares|
| G6 winning shares|
| G7 winning shares|

In [ ]:
#Import needed packages

from selenium import webdriver
from selenium.webdriver.common.by import By
# from selenium.webdriver.chrome.service import Service as ChromeService
# from webdriver_manager.chrome import ChromeDriverManager
# from selenium.webdriver.support.ui import Select

import pandas as pd

In [ ]:
# Opens the singapore pools toto result website in Chrome.
driver = webdriver.Chrome()
driver.get("https://www.singaporepools.com.sg/en/product/pages/toto_results.aspx")
driver.set_window_size(550,768)

In [137]:
# Retrieve Draw Number
drawNumber = driver.find_element(By.XPATH, "/html/body/form/div[5]/div[1]/div/section/div/div/div/span/section/div/div[2]/div[2]/div/div/div[1]/div[1]/div/div[1]/div/div[3]/div[1]/ul/li[1]/div[1]/table[1]/thead/tr/th[2]")
drawNumber = int(drawNumber.text.replace('Draw No. ', ''))
drawNumber

4123

In [140]:
#Retrieve Draw Date
drawDate = driver.find_element(By.XPATH,"/html/body/form/div[5]/div[1]/div/section/div/div/div/span/section/div/div[2]/div[2]/div/div/div[1]/div[1]/div/div[1]/div/div[3]/div[1]/ul/li[1]/div[1]/table[1]/thead/tr/th[1]")
drawDate.text

'Mon, 20 Oct 2025'

In [145]:
# Retrieve Winning Numbers
winningNo = {}
for n in range (1,7):
    winningNo[f"winningNo {n}"] = int(driver.find_element(By.XPATH, "/html/body/form/div[5]/div[1]/div/section/div/div/div/span/section/div/div[2]/div[2]/div/div/div[1]/div[1]/div/div[1]/div/div[3]/div[1]/ul/li[1]/div[1]/table[2]/tbody/tr/td["+str(n)+"]").text)
winningNo

{'winningNo 1': 3,
 'winningNo 2': 10,
 'winningNo 3': 13,
 'winningNo 4': 15,
 'winningNo 5': 32,
 'winningNo 6': 37}

In [147]:
# Retrieve Additional Numbers

additionalNumber = int(driver.find_element(By.XPATH, "/html/body/form/div[5]/div[1]/div/section/div/div/div/span/section/div/div[2]/div[2]/div/div/div[1]/div[1]/div/div[1]/div/div[3]/div[1]/ul/li[1]/div[1]/table[3]/tbody/tr/td").text)
additionalNumber

8

In [149]:
# Retrieve Group 1 Prize

jackpot = driver.find_element(By.XPATH, "/html/body/form/div[5]/div[1]/div/section/div/div/div/span/section/div/div[2]/div[2]/div/div/div[1]/div[1]/div/div[1]/div/div[3]/div[1]/ul/li[1]/div[1]/table[4]/tbody/tr/td")
int(jackpot.text.replace('$','').replace(',',''))

5816118

In [159]:
# Retrieve Share Amount
shareAmount = {}
for row in range(2,9):
    shareAmount[f"g{row-1}ShareAmt"] = int(driver.find_element(By.XPATH, "/html/body/form/div[5]/div[1]/div/section/div/div/div/span/section/div/div[2]/div[2]/div/div/div[1]/div[1]/div/div[1]/div/div[3]/div[1]/ul/li[1]/div[1]/table[5]/tbody/tr["+str(row)+"]/td[2]").text.replace('$','').replace(',','').replace('-','0'))
shareAmount

{'g1ShareAmt': 0,
 'g2ShareAmt': 58728,
 'g3ShareAmt': 1690,
 'g4ShareAmt': 312,
 'g5ShareAmt': 50,
 'g6ShareAmt': 25,
 'g7ShareAmt': 10}

In [158]:
# Retrieve No of winning Shares
winningShares = {}
for row in range(2,9):
    winningShares[f"g{row-1}WinShares"] = int(driver.find_element(By.XPATH, "/html/body/form/div[5]/div[1]/div/section/div/div/div/span/section/div/div[2]/div[2]/div/div/div[1]/div[1]/div/div[1]/div/div[3]/div[1]/ul/li[1]/div[1]/table[5]/tbody/tr["+str(row)+"]/td[3]").text.replace(',','').replace('-','0'))
winningShares

{'g1WinShares': 0,
 'g2WinShares': 10,
 'g3WinShares': 239,
 'g4WinShares': 707,
 'g5WinShares': 13012,
 'g6WinShares': 21561,
 'g7WinShares': 239985}

In [125]:
for i in range(2,9):
    for j in range(1,4):
        print(driver.find_element(By.XPATH, "/html/body/form/div[5]/div[1]/div/section/div/div/div/span/section/div/div[2]/div[2]/div/div/div[1]/div[1]/div/div[1]/div/div[3]/div[1]/ul/li[1]/div[1]/table[5]/tbody/tr["+str(i)+"]/td["+str(j)+"]").text)

Group 1
-
-
Group 2
$58,728
10
Group 3
$1,690
239
Group 4
$312
707
Group 5
$50
13,012
Group 6
$25
21,561
Group 7
$10
239,985

In [126]:
import os
import psycopg2
from dotenv import load_dotenv

In [127]:
load_dotenv()

True

In [128]:
_conn = psycopg2.connect(
    host = os.getenv("PG_HOST"),
    user = os.getenv("PG_USER"),
    password = os.getenv("PG_PASSWORD"),
    dbname = os.getenv("PG_DB"),
    port = os.getenv("PG_PORT"))

In [129]:
cur = conn.cursor()

In [130]:
sqlCommand = "CREATE TABLE totoTest(drawNumber int, drawDate int);"

In [131]:
cur.execute("ROLLBACK")

In [132]:
cur.execute(sqlCommand)

DuplicateTable: relation "tototest" already exists